        This server is the propert of chef testing template
	HOSTNAME: <%= node['hostname'] %>
        IPADDRESS: <%= node['ipaddress'] %>
        CPU: <%= node['cpu']['0']['mhz'] %>
        MEMORY:<%= node['memory']['total'] %>
	whoami: <%= @name%>
