	<html>
	<body>
		<h1>Hello World test subscrube</h1>
		<h1>Template Changed!</h1>
	        <h2>IPADDRESS: <%= node['ipaddress'] %></h2>
      		<h2>HOSTNAME:  <%= node['hostname'] %></h2>
		<img src="robin.png">
	</body>
	</html>
